Repository dequelabs/axe-core, pull requests merged in 2020-01, with the labels that each got.

#1876 feat(i18n): add Danish (da-DK) translation
  locales/da.json
Labels: Task: Release Notes Item, docs

#1649 feat(rule): identical-links-same-purpose
  doc/rule-descriptions.md
  lib/checks/navigation/identical-links-same-purpose-after.js
  lib/checks/navigation/identical-links-same-purpose.js
  lib/checks/navigation/identical-links-same-purpose.json
  lib/commons/dom/is-visible.js
  lib/commons/dom/url-props-from-attribute.js
  lib/rules/identical-links-same-purpose-matches.js
  lib/rules/identical-links-same-purpose.json
  test/checks/navigation/identical-links-same-purpose-after.js
  test/checks/navigation/identical-links-same-purpose.js
  test/commons/dom/is-visible.js
  test/commons/dom/url-props-from-attribute.js
  test/integration/full/identical-links-same-purpose/frames/level1.html
  test/integration/full/identical-links-same-purpose/page.html
  test/integration/full/identical-links-same-purpose/page.js
  test/integration/rules/identical-links-same-purpose/identical-links-same-purpose.html
  test/integration/rules/identical-links-same-purpose/identical-links-same-purpose.json
  test/rule-matches/identical-links-same-purpose-matches.js
Labels: New DQU rule help req'd, rules, wai-tools

#1946 feat(rule): no-autoplay-audio
  doc/rule-descriptions.md
  lib/checks/media/no-autoplay-audio.js
  lib/checks/media/no-autoplay-audio.json
  lib/core/utils/preload-media.js
  lib/rules/no-autoplay-audio-matches.js
  lib/rules/no-autoplay-audio.json
  test/checks/media/no-autoplay-audio.js
  test/core/utils/preload-media.js
  test/integration/full/no-autoplay-audio/no-autoplay-audio.html
  test/integration/full/no-autoplay-audio/no-autoplay-audio.js
  test/rule-matches/no-autoplay-audio-matches.js
Labels: rules, wai-tools
